<div class="flex min-h-content min-w-full items-center justify-center" >
  <div
    class="flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 bg-white w-full max-w-2xl rounded shadow-sm  border-r-[2.875rem] border-r-green-500">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h1 class="text-center text-5xl">Fin<span class="text-green-500">ease</span></h1>
        <h2 class="mt-6 text-center text-2xl text-gray-900">{{'login.description' | translate }}</h2>
      </div>
      <form class="mt-8" action="#" method="POST">
        <div class="flex flex-col">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'login.email' | translate }}</mat-label>
            <input matInput type="email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'login.password' | translate }}</mat-label>
            <input matInput type="password">
          </mat-form-field>
        </div>
        <button class="w-full" mat-raised-button type="submit" color="primary">{{ 'login.action' | translate }}</button>
      </form>
    </div>
  </div>
</div>