
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'styles//material//theme' as mat_custom;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$finease-primary: mat.define-palette(mat_custom.$primary-palette);
$finease-accent: mat.define-palette(mat_custom.$accent_palette);

// $finease-accent: mat.define-palette(mat_custom.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$finease-warn: mat.define-palette(mat_custom.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$finease-theme: mat.define-light-theme((
  color: (
    primary: $finease-primary,
    accent: $finease-accent,
    warn: $finease-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($finease-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .max-h-content {
    max-height: calc(100vh - 61px);
  }
  .min-h-content {
    min-height: calc(100vh - 61px);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Roboto", sans-serif; }
